<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!-- Scripts -->
    <script src="/js/app.js" defer></script>
    <!-- Styles -->
    <link href="/css/app.css" rel="stylesheet">
    <link rel="icon" href="https://www.jikeship.com/images/icon.png" sizes="192x192"/>
    <link rel="apple-touch-icon" href="https://www.jikeship.com/images/icon.png"/>
</head>