<header>
    {% include top.html %}
    <div class="flex justify-between max-w-7xl mx-auto px-2 py-4 space-x-10">
        <a href="{% tl home %}"><img src="/images/logo.svg"></a>
        <nav class="hidden md:flex grow space-x-4">
            {% include navigation.html %}
        </nav>
        <div>
            <form>
                <div class="relative">
                    <i class="absolute fas fa-search mt-2 ml-4 text-neutral-400"></i>
                    <input name="s" type="text" value="" placeholder="{% t search_placeholder %}"
                           class="h-8 rounded-full pl-10 bg-neutral-50 placeholder-neutral-400 border-2 border-neutral-50 focus:border-primary focus:ring-0">
                </div>
            </form>
        </div>
    </div>
</header>
