<div class="border-t border-neutral-200">
    <div class="max-w-7xl mx-auto px-2 py-4">
        <div class="grid md:grid-cols-3 gap-4">
            <div>
                <a href="#"><img src="/images/logo.svg"/></a>
                <div class="text-sm text-neutral-500 mt-2 md:w-4/5">
                    Description
                </div>
            </div>
            <div class="col-span-2 md:flex justify-between space-y-4 md:space-y-0">
                <div>
                    <h3 class="text-lg">Must Read</h3>
                    <div class="grid">
                        <a href="#">Sellers Center</a>
                        <a href="#">Affiliate program</a>
                        <a href="#">Sitemap</a>
                        <a href="#">RSS</a>
                    </div>
                </div>
                <div>
                    <h3 class="text-lg">Special Services</h3>
                    <div class="grid">
                        <a href="#">Sellers Center</a>
                        <a href="#">Affiliate program</a>
                        <a href="#">Sitemap</a>
                        <a href="#">RSS</a>
                    </div>
                </div>
                <div>
                    <h3 class="text-lg">Shipping to</h3>
                    <div class="grid">
                        <a href="#">Sellers Center</a>
                        <a href="#">Affiliate program</a>
                        <a href="#">Sitemap</a>
                        <a href="#">RSS</a>
                    </div>
                </div>
                <div>
                    <h3 class="text-lg">About</h3>
                    <div class="grid">
                        <a href="#">Sellers Center</a>
                        <a href="#">Affiliate program</a>
                        <a href="#">Sitemap</a>
                        <a href="#">RSS</a>
                    </div>
                </div>
                <div>
                    <h3 class="text-lg">Follow Us</h3>
                    <div class="space-x-2">
                        {% include social.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
