<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="grid md:grid-cols-5 gap-4 md:gap-8 max-w-7xl mx-auto my-8 px-4">
        <div class="md:col-span-3 py-2 md:py-8">
            <h1 class="text-3xl md:text-6xl font-bold text-neutral-800">{{ site.data.local.about_title_1 }}</h1>
            <p class="mt-2 md:mt-8 text-neutral-500 md:w-4/5">{{ site.data.local.about_description_1 }}</p>
        </div>
        <div class="md:col-span-2 py-8">
            <img class="w-full" src="/images/about.png">
        </div>
    </div>
    <div class="max-w-7xl mx-auto my-16 px-4">
        <div class="md:w-2/3 mb-8">
            <h2 class="text-4xl font-bold text-neutral-800">{{ site.data.local.about_title_2 }}</h2>
            <div class="w-8 border-b-2 border-primary my-2"></div>
            <p class="text-lg text-neutral-500">{{ site.data.local.about_description_2 }}</p>
        </div>
        <div class="grid md:grid-cols-2 gap-4 md:gap-8">
            <div class="grid md:grid-cols-2 gap-8 text-center py-4 md:py-8">
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">{{ site.data.local.about_item_1_number }}</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">{{ site.data.local.about_item_1_title }}</h4>
                    <p class="text-neutral-500">{{ site.data.local.about_item_1_description }}</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">{{ site.data.local.about_item_2_number }}</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">{{ site.data.local.about_item_2_title }}</h4>
                    <p class="text-neutral-500">{{ site.data.local.about_item_2_description }}</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">{{ site.data.local.about_item_3_number }}</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">{{ site.data.local.about_item_3_title }}</h4>
                    <p class="text-neutral-500">{{ site.data.local.about_item_3_description }}</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">{{ site.data.local.about_item_4_number }}</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">{{ site.data.local.about_item_4_title }}</h4>
                    <p class="text-neutral-500">{{ site.data.local.about_item_4_description }}</p>
                </div>
            </div>
            <div>
                <img class="w-full" src="/images/about1.png">
            </div>
        </div>
    </div>
    <div class="bg-secondary py-8">
        <div class="max-w-7xl mx-auto my-8 px-4">
            <div class="grid md:grid-cols-2 gap-4 md:gap-8">
                <div>
                    <img class="w-full" src="/images/about2.png">
                </div>
                <div>
                    <h2 class="text-white text-4xl font-bold my-4 md:my-8">{{ site.data.local.about_title_3 }}</h2>
                    <div class="text-neutral-200 md:pr-4">{{ site.data.local.about_description_3 }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto my-8 md:my-16 px-4">
        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-4xl font-bold my-4 text-neutral-800">{{ site.data.local.about_title_4 }}</h2>
                <div class="md:pr-4">{{ site.data.local.about_description_4 }}</div>
            </div>
            <div>
                <img class="w-full" src="/images/about3.png">
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
