<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include page_head.html %}
<body>
{% include header.html %}
<main>
    <div class="grid md:grid-cols-5 gap-4 md:gap-8 max-w-7xl mx-auto my-8 px-2">
        <div class="md:col-span-3 py-2 md:py-8">
            <h1 class="text-3xl md:text-6xl font-bold text-neutral-800">Similique fugit cumque rerum ex dolores
                aliquid
                ducimus.</h1>
            <p class="mt-2 md:mt-8 text-neutral-500 md:w-4/5">Deleniti tempora dolor facere debitis eum. Libero
                tempora
                velit non modi
                provident iusto
                accusamus autem
                quam. Quia et sapiente consectetur sint. Ut nulla eos.</p>
        </div>
        <div class="md:col-span-2 py-8">
            <img class="w-full" src="/images/about.png">
        </div>
    </div>
    <div class="max-w-7xl mx-auto my-16 px-2">
        <div class="md:w-2/3 mb-8">
            <h2 class="text-4xl font-bold text-neutral-800">We believe in the power of data</h2>
            <div class="w-8 border-b-2 border-primary my-2"></div>
            <p class="text-lg text-neutral-500">Deleniti tempora dolor facere debitis eum. Libero tempora velit non
                modi
                provident iusto accusamus autem
                quam. </p>
        </div>
        <div class="grid md:grid-cols-2 gap-4 md:gap-8">
            <div class="grid md:grid-cols-2 gap-8 text-center py-4 md:py-8">
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">235.000</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">Projects completed</h4>
                    <p class="text-neutral-500">No need to hire specialists for each channel.</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">$10m</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">APR</h4>
                    <p class="text-neutral-500"> Track how much money a company just in case</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">+50.000</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">Hours Saved Annually</h4>
                    <p class="text-neutral-500">Manage many companies, even with different languages.</p>
                </div>
                <div>
                    <h3 class="text-5xl font-bold text-neutral-800">3.500</h3>
                    <h4 class="text-xl font-bold text-neutral-700 my-1">Unique Users</h4>
                    <p class="text-neutral-500">Everyone works the way they want to, on their own schedule.</p>
                </div>
            </div>
            <div>
                <img class="w-full" src="/images/about1.png">
            </div>
        </div>
    </div>
    <div class="bg-secondary py-8">
        <div class="max-w-7xl mx-auto my-8 px-2">
            <div class="grid md:grid-cols-2 gap-4 md:gap-8">
                <div>
                    <img class="w-full" src="/images/about2.png">
                </div>
                <div>
                    <h2 class="text-white text-4xl font-bold my-4 md:my-8">Our company</h2>
                    <div class="text-neutral-200 md:pr-4">
                        Deleniti tempora dolor facere debitis eum. Libero tempora velit non modi provident iusto
                        accusamus autem quam. Quia et sapiente consectetur sint. Ut nulla eos.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto my-8 md:my-16 px-2">
        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-4xl font-bold my-4 text-neutral-800">Our vision</h2>
                <div class="md:pr-4">
                    <p>Deleniti tempora dolor facere debitis eum. Libero tempora velit non modi provident iusto
                        accusamus autem quam. Quia et sapiente consectetur sint. Ut nulla eos.</p>
                    <p>Ad velit sunt ut culpa pariatur quod at voluptatem molestiae.Deleniti tempora dolor facere
                        debitis eum. Libero tempora velit non modi provident iusto accusamus autem quam. Quia et
                        sapiente consectetur sint. </p>
                    <p>Ut nulla eos.Deleniti tempora dolor facere debitis eum. Libero tempora velit non modi
                        provident
                        iusto accusamus autem quam. Quia et sapiente consectetur sint. </p>
                </div>
            </div>
            <div>
                <img class="w-full" src="/images/about3.png">
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
