<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main class="max-w-7xl mx-auto mt-8 mb-16 md:my-16 px-4">
    <div class="text-center md:w-2/3 mx-auto">
        <h1 class="text-2xl md:text-4xl font-bold text-neutral-800">{{ page.h1 }}</h1>
        <p class="md:text-lg text-neutral-400 mt-4 mb-8">{{ content }}</p>
    </div>
    {% if paginator %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}
    <div class="grid md:grid-cols-3 gap-4 md:gap-8">
        {% for post in posts %}
            {% include post.html %}
        {% endfor %}
    </div>
    {% if paginator %}
    {% include paginator.html %}
    {% endif %}
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
