<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="grid md:grid-cols-2 gap-8 max-w-7xl mx-auto px-4 mb-4 md:mb-0">
        <div>
            <h1 class="text-4xl md:text-6xl font-bold text-neutral-800 mt-8 md:mt-20 leading-8">{{ site.data.local.home_title_1 }}</h1>
            <p class="text-lg text-neutral-400 mt-6 mb-10">{{ site.data.local.home_description_1 }}</p>
            <form method="get" action="https://www.google.com/search" target="_blank">
                <input type="hidden" name="sitesearch" value="{{ site.domain }}"/>
                <div class="relative md:w-3/4">
                    <input
                        class="w-full h-11 rounded border-neutral-100 placeholder-neutral-400 border-2 focus:border-primary focus:ring-0"
                        type="text" name="q" value="" placeholder="{{ site.data.local.search_placeholder }}">
                    <button type="submit" class="absolute right-1 px-6 rounded bg-primary text-white h-9 mt-1"><i
                        class="fas fa-search mr-1"></i>{{ site.data.local.search }}
                    </button>
                </div>
            </form>
        </div>
        <div class="p-8">
            <img src="/images/banner.svg" alt="" class="w-full animate__animated animate__bounceIn">
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 mt-14 md:mt-16 mb-4 md:mb-0">
        <div class="md:w-1/2 mx-auto text-center text-3xl md:text-5xl font-bold text-neutral-800">{{ site.data.local.home_title_2 }}</div>
        <div class="grid md:grid-cols-2 gap-4 md:gap-8 my-10">
            {% for method in site.data.home.methods %}
            <div class="flex space-x-4">
                <div class="flex-none h-10 w-10 rounded text-center bg-blue-50"><i
                    class="text-xl mt-2 text-primary {{ method.icon }}"></i></div>
                <div>
                    <h3><a class="text-neutral-800" href="{{ method.url }}">{{ method.title }}</a></h3>
                    <p class="text-neutral-500">{{ method.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 mt-16 mb-4 md:mb-0">
        <div class="md:w-2/3">
            <span class="px-2 py-1 text-sm rounded-full bg-blue-50 text-primary">{{ site.data.local.services }}</span>
            <h2 class="text-3xl md:text-5xl font-bold text-neutral-800 mt-4">{{ site.data.local.home_title_3 }}</h2>
            <p class="text-neutral-400 my-2">{{ site.data.local.home_description_2 }}</p>
        </div>
        <div class="grid md:grid-cols-2 mt-6">
            <div class="grid gap-4">
                {% for service in site.data.home.services %}
                <div class="flex justify-between space-x-4">
                    <div>
					<span class="inline-block w-14 h-14 rounded text-center bg-primary shadow"><i
                        class="text-3xl mt-3 text-white {{ service.icon }}"></i></span>
                    </div>
                    <div>
                        <h3 class="text-xl"><a class="text-neutral-800" href="{{ service.url }}">{{ service.title }}</a>
                        </h3>
                        <p class="text-neutral-400">{{ service.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="p-8">
                <img src="/images/services.svg" alt="" class="w-full">
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 mt-16 mb-4 md:mb-0">
        <h3 class="text-3xl md:text-5xl font-bold text-neutral-800">{{ site.data.local.home_title_4 }}
        </h3>
        <div class="grid md:grid-cols-3 gap-4 md:gap-8 mt-8">
            {% for post in site.posts limit:3 %}
            {% include post.html %}
            {% endfor %}
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-4 md:gap-8">
            <div class="md:w-3/4 mx-auto">
                <span class="px-2 py-1 text-sm rounded-full bg-blue-50 text-primary">{{ site.data.local.faq }}</span>
                <h3 class="text-3xl md:text-5xl font-bold text-neutral-800 my-4">{{ site.data.local.home_title_5 }}</h3>
                <p class="text-neutral-500">{{ site.data.local.home_description_3 }}</p>
            </div>
            <div class="grid gap-y-2">
                {% for faq in site.data.home.faq %}
                <a class="text-neutral-800" href="{{ faq.url }}">{{ faq.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
